/* Global Styles */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    top: 0 !important;
    font-size: 1.2rem;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none;
}

.goog-te-gadget {
    color: unset !important;
}

#google_translate_element {
    display: none;
}

.goog-te-banner-frame {
    display: none !important;
}

font[style="vertical-align: inherit;"] {
    all: unset !important;
}

/*====*/

/*other elements*/
.scroll-button {
    display: none;
    position: fixed;
    font-size: 2.1rem;
    border: 1px solid black;
    box-shadow: 0px 0px 1px 1px #75757552;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 20px;
    background-color: white;
    margin: 0 60px;
}

section {
    padding: 20px 20px;
    text-align: center;
    color: #062D27;
}

.line-height25px {
    line-height: 25px;
}

.letter-logo-size {
    color: #10a585;
    font-size: 8.2rem;
}

/*====*/

/*navbar*/
nav {
    position: sticky;
    display: flex;
    width: 100%;
    background-color: #000000;
    background: linear-gradient(to left, #000 0%, #138575 100%);
    box-shadow: 0 0 4px 1px #0000007a;
}

#nav-menu {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;

    & :hover:not(:first-child) {
        border-bottom: 1px solid #037b03;
    }
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.logo {
    background: url("./images/logoblacknobg.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#nav-translate {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 15px;
    right: 0;
    position: absolute;
}

#nav-translate img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
}

/*====*/

/*home section*/
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

#home video {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #00000061;
    z-index: -9999;
    width: 100%;
}

.presentation-text {
    font-size: 5.2rem;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}



/*====*/

/*services section*/
#services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 100px 0;
    background-color: #f5f5f5;
    cursor: auto;
}

.text-intro {
    box-shadow: 1px 1px 0px 1px dimgray;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.services-box {
    padding: 10px;
    width: 400px;
    height: 100%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    cursor: auto;
}

.services-box:nth-child(1) {
    background: #010C0A;
}

.services-box:nth-child(2) {
    background: #062D27;
}

.services-box:nth-child(3) {
    background: #0C594E;
}

.services-box:nth-child(4) {
    background: #128373;
}

/*====*/

/*about section*/
#about {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background: white;
    z-index: 1;
}

.details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

#about-img {
    width: 300px;
}

/*====*/

/*description section*/
#description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #f5f5f5;
}

.text-description:first-child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

/*====*/

/*contact section*/
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #000 0%, #138575 100%);
    color: white;
}

/*contact infinit slider*/

.slider-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* .scroller {
    max-width: 600px;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    background: #ffffff;
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
} */

#img-logo {
    border-radius: 5px;
}

/*====*/

/*portofolio section*/


#img-robot {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #00000061;
}

.portofolio-content {
    display: grid;
    padding: 4em 0;
    grid-gap: 15em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
}

.portofolio-text {
    box-shadow: 0px 0px 3px #00000061;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

#description-title {
    display: flex;
    border-bottom: 5px solid red;
    justify-content: center;
    height: 70px;
}

.from-left {
    grid-column: 2 / 3;
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3 / 4;
    grid-row: 1;
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.confidential {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 20px;
}

#confidential-text {
    width: 50%;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px #0a0a0a1a;
    border-radius: 10px;
}

/*====*/

/*team section*/

#team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #f5f5f5;
}

.logo-employee1 {
    background: url(./images/employee1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo-chisti {
    background: url(./images/chisti.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.team-description {
    display: flex;
    flex-direction: column;
    border: 1px solid #e1dcdc;
    width: 200px;
    height: 300px;
    padding: 0px 0px 10px 0px;
    box-shadow: 0px 0px 9px 6px #0000000d;
    border-radius: 10px;
    background-color: white;

}

.employee-description {
    display: flex;
    padding: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

/* Responsive Design */
@media (max-width: 600px) {
    body {
        display: inline-block;
    }

    .logo {
        position: absolute;
        left: 0;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-size: 0.8rem;
    }

    #nav-menu {
        display: flex;
        list-style: none;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: flex-end;
    }

    #home {
        background-size: contain;
        height: 30vh;
    }

    .presentation-text {
        font-size: 0.1rem;
    }

    #about,
    #description {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .img-description img {
        width: 80%;
    }

    #about-img {
        width: 100%;
    }

    .details,
    .text-description {
        width: 100%;
        padding: 10px;
    }

    #services {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .services-box {
        width: 90%;
    }

    #confidential-text {
        width: 100%;
    }

    #team {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        background-color: #f5f5f5;
        justify-items: center;
        height: 100vh;
    }

    .team-description {
        display: grid;
        grid-template-columns: 1fr;
        border: 1px solid #e1dcdc;
        width: 300px;
        height: 330px;
        border-radius: 10px;
        background-color: white;
        gap: 5px;
    }

    .logo-employee1,
    .logo-chisti {
        width: 300px;
        height: 300px;
    }

    .scroll-button {
        width: 25px;
        height: 25px;
        font-size: 1.4rem;
        margin: 0px 30px;
    }

    .slider-logo img {
        width: 50px !important;
    }

    .letter-logo-size {
        color: #10a585;
        font-size: 7.2rem;
    }

    #nav-translate {
        padding: 0;
        margin: 0;
        right: 0;
        top: 5px;
    }

    .words {
        display: none;
    }
}

@media (max-width: 400px) {
    #team {
        gap: 20px;
        height: 120vh;
    }
}

/*====*/